body{
  font-family: 'PT Sans',sans-serif;
  margin: 0;
  padding: 0;
  
}

.companyinfo{

width: 100%;

float: left;

text-align: right;

background: white;

border-bottom: 2px solid #2A55AB;

padding-bottom: 1%;
}
.companyinfo h3{
    margin: 0;
    padding-right: 15%;
    color: #3753B0;
    font-size: 175%;
}
.companyinfo .bic{
    margin: 0;
    padding-right: 13%;
    color: black;
    font-weight: bold;
}
#menu{
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.bar{
  height: 5px;
  width: 100%;
  background-color: #3F51B5;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1{
  transform: translateY(-4px);
}
#bar3{
  transform: translateY(4px);
}
.nav li a{
  color: #fff;
  text-decoration: none;
}
.nav li a:hover{
  font-weight: bold;
}
.nav li{
  list-style: none;
  padding: 16px 0;
}
.nav{
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg, #menu-bar{
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg{
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle,#4CAF50,#b81568);
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar{
  z-index: 2; 
}
.change-bg{
  width: 550px;
  height: 540px;
  transform: translate(-60%,-30%);
}
.change .bar{
  background-color: white;
}
.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
  opacity: 0;
}
.change{
  display: block;
}
.banner{
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    float: left;
    background-repeat: no-repeat;
    position: relative;
}
.bannertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bannertext h1{
    margin: 0;
    padding: 0;
    font-size: 345%;
       color: #3753B0;
}
.bannertext h2{
    margin: 0;
    padding: 0;
    font-size: 230%;
}
#services{
    float: left;
    width: 100%;
    margin-bottom: 10%;
}
#services h1{
    color: #373A4F;
    font-size: 210%;
    text-align: center;
}
#services h5{
    color: gray;
    text-align: center;
}
.allitems{
  
width: 70%;
  
margin: 0 auto;
}
.webtype{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
}
.webitems{
  
background: #FFFFFF;
  
padding: 5%;
  
border-radius: 4%;
  
color: black;
  
text-align: center;
  
box-shadow: 0px 0px 5px black;
}
#whyus{
    background: #EAF6FE;
    float: left;
    width: 100%;
}
#whyus .col-2{
    
width: 50%;
    
float: left;
    
padding: 5%;
    
box-sizing: border-box;
}
#whyus .col-2 img{
  
width: 100%;
  
height: 65%;
}
#whyus h1{
color: #373A4F;
    font-size: 210%;
    

}
#whyus span{

color: #979FA9;

font-size: 121%;
}
#whyus ul{
    list-style: none;
}
#whyus ul li{
    padding: 1%;
    font-size: 130%;
    color: #979FA9;
}
#resentwork{
  float: left;
  width: 100%;
  background: url(../img/about.jpg);
  height: 70vh;
  border-bottom: 2px solid #2A55AB;
  border-top: 2px solid #2A55AB;
  background-size: cover;
}
#resentwork h1{
  text-align: center;
  color: #1057A6;
  font-size: 210%;
}
.slidercontent{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  height: 40vh;
}
   
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-repeat: no-repeat;
      width: 20%;
      height: 60%;
      background: #00000080;
    }
    .swiper-slide img{
      
padding-top: 25%;
      
padding-left: 8%;
    }
    #about{
  float: left;
  width: 100%;
  height: 70vh;
  background: #E7F6FD;
}
#about h1{
  text-align: center;
  color: #373A4F;
    font-size: 210%;
    
}
#about .col-2{
    
width: 50%;
    
float: left;
    
padding: 5%;
    
box-sizing: border-box;
    
position: relative;
}

#about .col-2 .ceo{

}
#about .row{
  
width: 60%;
  
margin: 0 auto;
}
/* Container needed to position the overlay. Adjust the width as needed */
#about .container {
  position: relative;
  width: 80%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000a6;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.5s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#about .col-2 p{

color: gray;

font-size: 100%;

text-align: justify;
}
#about .col-2 h3{

font-size: 30px;
}
#about .logo{
  
width: 80px;
  
display: block;
  
margin: 0 auto;
}
footer {
  height: 45vh;
  float: left;
  background-size: cover;
  width: 100%;
  background: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F6F6F6;
}
footer .row {
  width: 80%;
  margin: 0 auto;
  padding: 60px;
}
footer .col-3{
  
float: left;
  
width: 33.33%;
  
padding: 10px;
  
box-sizing: border-box;
}
footer .col-3 ul{
    list-style: none;
}
footer .col-3 ul li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}
footer .col-3 ul li a{
    color: gray;
}
footer .col-3 ul li a:hover{
    color: cornflowerblue;
}
footer .copy{width: 100%;float: left;text-align: center;color: gray;}